main #Equipe h3 {
  text-align: center;
  max-width: 90%;
  margin: 0 auto 1rem auto;
}

main #Equipe .equipeCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
  margin: auto;
}

main #Equipe .equipeCards .card {
  width: 12rem;
  height: 18rem;
  border-radius: 2rem;
  margin: 1rem;
  background-color: var(--color-destaque-section);
}

main #Equipe .equipeCards .card figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}

main #Equipe .equipeCards .card figure img {
  border-radius: 20%;
}

main #Equipe .equipeCards .card figure figcaption {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.bn40 {
  border-radius: 4px;
  font-weight: 600;
  font-size: large;
  padding: 4px 6px;
  color: var(--text-color) !important;
}

.bn40::after {
  max-width: 100%;
  height: 2px;
  display: block;
  content: "";
  background: linear-gradient(-90deg, #ff9100 0%, #d94625 50%, #ff9100 100%);
  opacity: 1;
  margin-bottom: -6px;
  margin-top: 1px;
}

.bn40div {
  display: flex;
}
