main #Equipe {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

main #Equipe h2 {
  font-size: 2.5rem;
}

main #Equipe .equipeCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
  margin: auto;
}

main #Equipe .equipeCards .card {
  width: 12rem;
  height: 18rem;
  border-radius: 2rem;
  margin: 1rem;
  background-color: var(--color-destaque-section);
}

main #Equipe .equipeCards .card figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}

main #Equipe .equipeCards .card figure img {
  border-radius: 20%;
}

main #Equipe .equipeCards .card figure figcaption {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
