footer {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  background-color: var(--bg-color-menu_footer);
  color: var(--text-color);
}

footer h2 {
  display: inline-block;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--color-destaque);
}

footer p {
  margin-bottom: 0.5rem;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: var(--color-destaque);
}

footer .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer .info article {
  margin: 1rem;
  max-width: 18rem;
}

footer .info .redesSociais a {
  display: block;
  margin-top: 0.5rem;
}

footer .endereco,
footer .creditos {
  display: flex;
  justify-content: center;
}

footer .endereco article,
footer .creditos {
  margin: 1rem;
}

footer .endereco {
  width: 75%;
  margin: auto;
}

footer .endereco article {
  width: 100%;
}

footer .endereco article iframe {
  border: 0;
  width: 100%;
  height: 25rem;
}

footer .endereco article p {
  text-align: center;
}

footer .creditos {
  text-align: center;
}

footer .creditos span {
  display: block;
  font-size: 0.9rem;
}

@media (max-width: 639px) {
  footer .endereco article iframe {
    height: 17rem;
  }
}

@media (max-width: 551px) {
  footer .info article {
    width: 100%;
  }
}
