footer {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  background-color: var(--bg-color-menu_footer);
  color: var(--text-color);
}

footer h2 {
  display: inline-block;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--color-destaque);
}

footer p {
  margin-bottom: 0.5rem;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: var(--color-destaque);
}

footer .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer .info article {
  margin: 1rem;
  max-width: 18rem;
}

footer .info .redesSociais a {
  display: block;
  margin-top: 0.5rem;
}

footer .endereco, footer .creditos {
  display: flex;
  justify-content: center;
}

footer .endereco article {
  margin: 1rem;
  max-width: 80%;
}

footer .creditos {
  margin-top: 1rem;
}