footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 0;
  background-color: var(--bg-color-menu_footer);
  color: var(--text-color);
}

footer div {
  margin: 0 1rem;
  width: 21rem;
}

footer h2 {
  margin-bottom: 1rem;
}

footer p {
  margin-bottom: 0.5rem;
}

footer a {
  color: var(--color-destaque);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
