main #Inicio {
  align-items: center;
  justify-content: center;
  height: 90dvh;
  background-color: var(--color-destaque-section);
  background-image: url(../assets/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main #Inicio div {
  align-items: center;
}

main #Inicio h1 {
  margin-top: 0;
  font-size: 3rem;
  text-align: center;
}

main #Inicio h1 span {
  display: block;
  font-size: 2rem;
}

main #Inicio .bn47 {
  position: relative;
  padding: 1rem 2rem 0.5rem 2.5rem;
  font-size: 1.4rem;
  max-width: 10rem;
  color: var(--font-text);
  border: 0.15rem solid #ffffff;
  z-index: 6;
  border-radius: 1rem;
  -webkit-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
}

main #Inicio .bn47:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: var(--color-destaque);
  border-right: 0.15rem solid #ffffff;
  border-bottom: 0.15rem solid #ffffff;
  border-radius: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main #Inicio .bn47:hover {
  padding: 0.75rem 2.25rem;
}

main #Inicio .bn47:hover:before {
  top: 0;
  left: 0;
}

main #Inicio .CentralizaSection {
  position: relative;
  height: 90dvh;
  justify-content: center;
}

main #Inicio .CentralizaSection .imgScroll {
  position: absolute;
  margin-top: 25rem;
  margin-left: 0.5rem;
}

main #Inicio .CentralizaSection .imgScroll img {
  width: 2rem;
  animation: down 1.5s infinite;
}

@keyframes down {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -5px);
  }
  50% {
    transform: translate(0, 5px);
  }
  75% {
    transform: translate(0, -5px);
  }
  100% {
    transform: translate(0, 5);
  }
}


@media (max-width: 767px) {
  main #Inicio h1 {
    font-size: 2rem;
  }
  main #Inicio h1 span {
    font-size: 1.3rem;
  }
  main #Inicio .bn47 {
    font-size: 1.3rem;
  }
}

@media (max-width: 484px) {
  main #Inicio {
    min-height: 60dvh;
  }
  main #Inicio h1 {
    font-size: 1.9rem;
  }
  main #Inicio h1 span {
    font-size: 1rem;
  }
  main #Inicio .bn47 {
    font-size: 1rem;
  }
}
