main .Inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50dvh;
  padding: 1rem 0;
  background-image: url(../assets/images/bg_Inicio.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
main .Inicio div {
  align-items: center;
}

main .Inicio h1 {
  margin-top: 0;
  font-size: 3rem;
  text-align: center;
}

main .Inicio h1 span {
  display: block;
  font-size: 2rem;
}

main .Inicio .bn47 {
  position: relative;
  padding: 1rem 2rem 0.5rem 2.5rem;
  font-size: 1.4rem;
  max-width: 10rem;
  color: var(--font-text);
  border: 0.15rem solid #ffffff;
  border-radius: 1rem;
  -webkit-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
}

main .Inicio .bn47:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: var(--color-destaque);
  border-right: 0.15rem solid #ffffff;
  border-bottom: 0.15rem solid #ffffff;
  border-radius: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Inicio .bn47:hover {
  padding: 0.75rem 2.25rem;
}

main .Inicio .bn47:hover:before {
  top: 0;
  left: 0;
}
