:root {
  /*Fontes*/

  --font-title: "Oswald-SemiBold";
  --font-destaque: "Oswald-Regular";
  --font-text: "Montserrat";

  /*Cores*/

  --text-color: #FFFFFF;
  --color-destaque: #D94625;
  --color-destaque-section: #111111;
  --bg-color: #1A1A1A;
  --bg-color-menu_footer: #111111;
}

@font-face {
  font-family: "Oswald-SemiBold";
  src: url(../assets/fonts/Oswald-SemiBold.ttf);
}

@font-face {
  font-family: "Oswald-Regular";
  src: url(../assets/fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat.ttf);
}
